html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #96d9ff38;
}

.set-titles-font {
    font-family: "Homenaje", sans-serif;
    font-weight: bold;
    font-size: 60px;
    font-style: normal;
    text-align: center;
    color:#0d78f3
}

.set-subtitles-font {
    font-family: "Homenaje", sans-serif;
    font-weight: bold;
    font-size: 40px;
    font-style: normal;
    text-align: center;
    color:#5996dd
}

.set-text-font {
    font-family: "Homenaje", sans-serif;
    font-weight: 100;
    font-size: 30px;
    font-style: normal;
    text-align: center;
    color:#000000
}

header {
  padding: 40px 0;
}

main {
    margin-top: 140px; 
    align-items: center 

}

.main-header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(110, 173, 240);
    z-index: 999;
    padding-bottom: 10px;
    margin: 0;
    padding-top: 20px; 
}

ul {
    font-family: "Homenaje", sans-serif;
    list-style-type: none;
    top:100px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #34a3e3;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #0d78f3;
}

.articles-style {
    width: 100%;
}

.new_hybrid {
    width:80%;
    max-width: 1200px;       
    margin: 100px auto 0;    
    text-align: center;
    padding-left: 12px;    
    padding-right: 12px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 45%;  
    margin: 0 2.5%;
    vertical-align: top; 
}

.gif{
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: block;
}

@media screen and (max-width: 600px) {
    .column {
        float: none;        
        width: 100%;        
        margin: 12px 0;     
    }

    .new_hybrid {
        width: 90%;   
        margin-top: 60px;      
    }
}

